boston Data set의 MEDV 칼럼에 대해서 가장 작은 값 부터 순서대로 10개 행을 출력

In [1]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/7ieon/bigData/main/boston.csv")

In [2]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,NaN,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [3]:
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [4]:
print(data['MEDV'].sort_values(ascending = True).head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

In [5]:
print(data['MEDV'].sort_values(ascending = False).head(10))

186    50.0
225    50.0
283    50.0
195    50.0
166    50.0
163    50.0
162    50.0
161    50.0
204    50.0
372    50.0
Name: MEDV, dtype: float64

In [6]:
print(data['MEDV'].sort_values().head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

RM 칼럼의 결측치를 평균값으로 대치한 후에 산출된 표준편차 값과 결측치를 삭제한 후에 산출된 표준편차 값의 차이를 구하시오

In [7]:
print(data.isnull())

      CRIM     ZN  INDUS   CHAS    NOX     RM    AGE    DIS    RAD    TAX  \
0    False  False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
501  False  False  False  False  False  False  False  False  False  False
502  False  False  False  False  False   True  False  False  False  False
503  False  False  False  False  False  False  False  False  False  False
504  False  False  False  False  False  False  False  False  False  False
505  False  False  False  False  False  False  False  False  False  False

     PTRATIO      B  LSTAT   MEDV
0      False  False  False  False
1      False  False  False  False
2      False  False  False  False
3      False  False  False  False
4      False  False  False  False
..       ...    ...    ...    ...
501    False  False  False  False
502    False  False  False  False
503    False  False  False  False
504    False  False  False  False
505    False  False  False  False

[506 rows x 14 columns]

In [8]:
print(data.isnull().sum())

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [9]:
data_mean = data['RM'].copy()
print(data_mean.isnull().sum())

15

In [10]:
rm_mean = data_mean.mean()
print(rm_mean)

6.285101832993899

In [11]:
data_mean.fillna(rm_mean, inplace = True)
print(data_mean.isnull().sum())

0

In [12]:
data_del = data['RM'].copy()
print(data_del.isnull().sum())
print(data_del.shape)

15
(506,)

In [13]:
data_del.dropna(inplace=True)
print(data_del.shape)
print(data_del.isnull().sum())

(491,)
0

In [14]:
print(data_mean.std())
print(data_del.std())

0.6975001826300911
0.7080957287241956

In [15]:
print(data_del.std()-data_mean.std())

0.010595546094104513

ZN 칼럼을 대상으로 ZN 값의 평균값에서 표준편차의 1.5배 보다 크거나 작은 ZN값의 합계

In [16]:
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()
zn_max = zn_mean + 1.5*zn_std
zn_min = zn_mean - 1.5*zn_std
zn_min2=data[zn_min>data['ZN']]['ZN']
zn_max2=data[zn_max<data['ZN']]['ZN']
print(sum(zn_max2)+sum(zn_min2))

3462.5

boston 데이터 세트에서 CHAS 칼럼과 RAD 칼럼을 제외한 칼럼에 한해서 칼럼별 IQR 값을 구하시오. 출력구조는 2열 1열은 보스터 데이터 세트의 칼럼명으로 출력

In [17]:
print(data.shape)
data_col12 = data.drop(columns=['CHAS','RAD'])
print(data_col12.shape)

(506, 14)
(506, 12)

In [18]:
data_col12_desc=data_col12.describe()
print(data_col12_desc)
data_t=data_col12_desc.iloc[[4,6]].T
print(data_t)

             CRIM          ZN       INDUS         NOX          RM         AGE  \
count  506.000000  506.000000  506.000000  506.000000  491.000000  506.000000
mean     3.613524   11.363636   11.136779    0.554695    6.285102   68.574901
std      8.601545   23.322453    6.860353    0.115878    0.708096   28.148861
min      0.006320    0.000000    0.460000    0.385000    3.561000    2.900000
25%      0.082045    0.000000    5.190000    0.449000    5.886000   45.025000
50%      0.256510    0.000000    9.690000    0.538000    6.209000   77.500000
75%      3.677082   12.500000   18.100000    0.624000    6.622000   94.075000
max     88.976200  100.000000   27.740000    0.871000    8.780000  100.000000

              DIS         TAX     PTRATIO           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.795043  408.237154   18.455534  356.674032   12.653063   22.532806
std      2.105710  168.537116    2.164946   91.294864    7.141062    9.197104
min      1.129600  187.000000   12.600000    0.320000    1.730000    5.000000
25%      2.100175  279.000000   17.400000  375.377500    6.950000   17.025000
50%      3.207450  330.000000   19.050000  391.440000   11.360000   21.200000
75%      5.188425  666.000000   20.200000  396.225000   16.955000   25.000000
max     12.126500  711.000000   22.000000  396.900000   37.970000   50.000000
                25%         75%
CRIM       0.082045    3.677082
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [19]:
print(data_t['75%']-data_t['25%'])

CRIM         3.595037
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

MEDV 칼럼을 기준으로 30번 째로 큰 값을 1~29번째 로 큰 값에 적용한다. 그리고 MEDV 칼럼의 평균값, 중위값, 최솟값, 최댓값 순으로 한 줄에 출력하시오

In [20]:
data_new = data['MEDV'].sort_values(ascending = False)
print(data_new.head(30))

186    50.0
225    50.0
283    50.0
195    50.0
166    50.0
163    50.0
162    50.0
161    50.0
204    50.0
372    50.0
371    50.0
370    50.0
368    50.0
369    50.0
257    50.0
267    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
202    42.3
232    41.7
Name: MEDV, dtype: float64

In [21]:
data_new.iloc[0:28] = data_new.iloc[29]
print(data_new.iloc[0:28])

186    41.7
225    41.7
283    41.7
195    41.7
166    41.7
163    41.7
162    41.7
161    41.7
204    41.7
372    41.7
371    41.7
370    41.7
368    41.7
369    41.7
257    41.7
267    41.7
262    41.7
203    41.7
233    41.7
228    41.7
282    41.7
280    41.7
224    41.7
256    41.7
98     41.7
268    41.7
261    41.7
253    41.7
Name: MEDV, dtype: float64

In [22]:
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max()) #평균값 중위값, 최솟값, 최댓값

22.180830039525684 21.2 5.0 42.3