In [8]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
y_train = pd.read_csv("./data/y_train.csv")
print(y_train.shape)
print(y_train.head())

(3500, 2)
   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [12]:
x_train = pd.read_csv("./data/X_train.csv",encoding='CP949')
print(x_train.shape)
print(x_train.head(30))

(3500, 10)
    cust_id       총구매액      최대구매액        환불금액   주구매상품 주구매지점  내점일수    내점당구매건수  \
0         0   68282840   11264000   6860000.0      기타   강남점    19   3.894737
1         1    2136000    2136000    300000.0     스포츠   잠실점     2   1.500000
2         2    3197000    1639000         NaN  남성 캐주얼   관악점     2   2.000000
3         3   16077620    4935000         NaN      기타   광주점    18   2.444444
4         4   29050000   24000000         NaN      보석  본  점     2   1.500000
5         5   11379000    9552000    462000.0    디자이너   일산점     3   1.666667
6         6   10056000    7612000   4582000.0    시티웨어   강남점     5   2.400000
7         7  514570080   27104000  29524000.0      명품  본  점    63   2.634921
8         8  688243360  173088000         NaN      기타  본  점    18   5.944444
9         9   26640850   13728000         NaN     농산물   대전점     1  12.000000
10       10  245110760   67275000  22484000.0    디자이너  부산본점    25   2.120000
11       11   24467500   10575000         NaN     화장품  본  점     3   2.000000
12       12    2895000    2475000         NaN  남성 캐주얼   분당점     2   1.000000
13       13  103217000   14616000  13173720.0    시티웨어   분당점    27   2.148148
14       14  123565660   22500000   7833000.0     농산물  본  점    84   3.714286
15       15  802390550  123488000  87054200.0      기타  본  점   152   3.585526
16       16  359589000   73684240         NaN      골프  본  점    26   2.230769
17       17  114421760   28560000  59424000.0     화장품  본  점    23   2.260870
18       18   43857600   24000000         NaN      구두  본  점     2   3.500000
19       19    3074660     500000         NaN     농산물   일산점     2   9.500000
20       20   52855460    9711000         NaN      기타   잠실점    11   3.272727
21       21  208520880   20280000   1524900.0     농산물  부산본점   278   5.471223
22       22  128221640   17232000  18596800.0     농산물   잠실점    65   3.492308
23       23     450640     165000         NaN     농산물   분당점     1   6.000000
24       24   52498250   12201000   3146000.0    가공식품  영등포점    15   2.666667
25       25     550000     550000         NaN     스포츠  본  점     1   1.000000
26       26  301903130   53050000  21241000.0      기타  본  점    53   2.792453
27       27  217054230   35650000   4440000.0      기타   분당점    82  10.256098
28       28  139213500   19032000         NaN      기타  영등포점    23   2.478261
29       29    2156050     630000         NaN    가공식품   잠실점     3   3.666667

      주말방문비율  구매주기
0   0.527027    17
1   0.000000     1
2   0.000000     1
3   0.318182    16
4   0.000000    85
5   0.200000    42
6   0.333333    42
7   0.222892     5
8   0.411215    15
9   0.000000     0
10  0.226415    13
11  0.833333    89
12  0.000000    16
13  0.103448    10
14  0.320513     4
15  0.177982     2
16  0.362069    13
17  0.230769    14
18  0.714286    10
19  0.000000    11
20  0.027778    26
21  0.266272     1
22  0.207048     5
23  0.000000     0
24  0.200000     9
25  0.000000     0
26  0.493243     6
27  0.416171     4
28  0.736842    15
29  0.000000    28

In [13]:
x_test = pd.read_csv("./data/x_test.csv",encoding='CP949')
print(x_test.shape)
print(x_test.head(30))

(2482, 10)
    cust_id       총구매액     최대구매액        환불금액 주구매상품 주구매지점  내점일수    내점당구매건수  \
0      3500   70900400  22000000   4050000.0    골프  부산본점    13   1.461538
1      3501  310533100  38558000  48034700.0   농산물   잠실점    90   2.433333
2      3502  305264140  14825000  30521000.0  가공식품  본  점   101  14.623762
3      3503    7594080   5225000         NaN  주방용품  부산본점     5   2.000000
4      3504    1795790   1411200         NaN   수산품  청량리점     3   2.666667
5      3505   13000000   2160000         NaN   화장품   잠실점     5   2.200000
6      3506  420892520  69920000  39566000.0    기타  본  점   144   2.618056
7      3507    1152000   1152000         NaN   스포츠   분당점     1   1.000000
8      3508    4825000   4825000         NaN   화장품   일산점     1   1.000000
9      3509  110787210  19255600  23062000.0  가공식품   대전점    28   3.321429
10     3510  107894360  19668000  29502000.0  디자이너  본  점    21   2.000000
11     3511    4500000   4500000    750000.0    기타   강남점     3   1.666667
12     3512    2467010    280000    280000.0  가공식품  본  점    23   3.434783
13     3513   54761980   8592000         NaN    기타   분당점    30   2.300000
14     3514    2196400   1175300         NaN   수산품   강남점     3   3.333333
15     3515   54095600  11761200         NaN  시티웨어   강남점     8   2.125000
16     3516  300847300  42144000  68184000.0  디자이너   동래점    23   2.956522
17     3517   76051000  21120000         NaN   화장품  본  점     6   1.500000
18     3518   53283500  33600000         NaN    구두  영등포점     2   3.500000
19     3519   24380200   9600000         NaN   캐주얼  본  점     2   2.500000
20     3520   17262940   7920000         NaN   농산물  본  점     6   1.166667
21     3521   68141000  30000000         NaN    명품  부산본점     5   1.600000
22     3522    1678600   1678600         NaN    구두  부산본점     1   1.000000
23     3523  757475030  31590000  28354000.0    기타  본  점   103   4.349515
24     3524   30139900  17000000         NaN  시티웨어  본  점     5   2.000000
25     3525    5760000   5760000         NaN  건강식품   일산점     1   1.000000
26     3526   13097300   7200000   5924000.0  시티웨어   부평점     5   2.800000
27     3527   18680000  17000000         NaN  남성정장  영등포점     2   1.500000
28     3528    3172900   1727000         NaN  건강식품   일산점     3   1.000000
29     3529    4156000   2500000   1078000.0   커리어   분당점     2   2.500000

      주말방문비율  구매주기
0   0.789474    26
1   0.369863     3
2   0.083277     3
3   0.000000    47
4   0.125000     8
5   0.000000    61
6   0.249337     2
7   0.000000     0
8   0.000000     0
9   0.376344    12
10  0.238095    14
11  0.600000     2
12  0.037975    15
13  0.086957    11
14  0.500000   112
15  0.294118    29
16  0.397059    12
17  0.111111    39
18  0.000000    63
19  1.000000    46
20  0.285714    18
21  0.375000    31
22  0.000000     0
23  0.290179     3
24  0.400000    53
25  1.000000     0
26  0.142857    42
27  0.333333    38
28  0.000000    29
29  0.000000     3