In [16]:
class Enemy:
    def __init__(self):
        self.x=10
        self.y=20
    def add(self):
        a = self.x+self.y
        return a
    def display(self):
        return self.x , self.y
    pass

In [18]:
e1=Enemy()
e2=Enemy()

In [19]:
print(e1.add())
print(e2.add())
print(e2.display())

30
30
(10, 20)

### 객체지향 프로그래밍
    객체추출=역할정하기
    
    Class 표현 = 클래스 명, 속성명, 메소드 명

In [168]:
class Score:
    def __init__(self):
        self.stdid=[]
        self.name=[]
        self.kor=[]
        self.eng=[]
        self.math=[]
        self.total=[]
    def delscore(self):
        self.stdid=[]
        self.name=[]
        self.kor=[]
        self.eng=[]
        self.math=[]
        self.total=[]
        print("성적을 초기화 합니다")
        return
    def add(self,stdid,name,kor,eng,math):
        self.stdid.append(stdid)
        self.name.append(name)
        self.kor.append(kor)
        self.eng.append(eng)
        self.math.append(math)
        print(stdid,name,kor,eng,math,"이 입력되었습니다.")
        return
    def totals(self):
        totals=[]
        #a=len(self.stdid)
        for i in range(0,len(self.stdid)):
            total=self.kor[i]+self.eng[i]+self.math[i]
            totals.append(total)
        self.total=totals
        #print(len(self.stdid),"명의 총점을 계산하였습니다.")
        return
    def display(self,i):
        self.totals()
        print("ID\t이름\t국어\t영어\t수학\t총점")
        if i == "all":            
            for i in range(0,len(self.stdid)):
                print(self.stdid[i], self.name[i],self.kor[i],self.eng[i],self.math[i],self.total[i],sep="\t")
        else:            
            print(self.stdid[i], self.name[i],self.kor[i],self.eng[i],self.math[i],self.total[i],sep="\t")
    pass

In [169]:
score1=Score()
score1.add(1,"홍길동",25,34,56)
score1.add(2,"김길동",35,32,52)
score1.add(3,"고길동",31,31,19)
score1.add(4,"최길동",55,30,59)
score1.add(5,"문길동",31,36,39)
score1.add(6,"박길동",25,33,59)
score1.add(7,"이길동",63,86,51)
score1.totals()
score1.display(0)
score1.display(1)
score1.display("all")

1 홍길동 25 34 56 이 입력되었습니다.
2 김길동 35 32 52 이 입력되었습니다.
3 고길동 31 31 19 이 입력되었습니다.
4 최길동 55 30 59 이 입력되었습니다.
5 문길동 31 36 39 이 입력되었습니다.
6 박길동 25 33 59 이 입력되었습니다.
7 이길동 63 86 51 이 입력되었습니다.
ID	이름	국어	영어	수학	총점
1	홍길동	25	34	56	115
ID	이름	국어	영어	수학	총점
2	김길동	35	32	52	119
ID	이름	국어	영어	수학	총점
1	홍길동	25	34	56	115
2	김길동	35	32	52	119
3	고길동	31	31	19	81
4	최길동	55	30	59	144
5	문길동	31	36	39	106
6	박길동	25	33	59	117
7	이길동	63	86	51	200

In [174]:
class FStudent(Score):
    def display(self):
        self.totals()
        print("총점",self.total)
fs = FStudent()
fs.add(1,"홍길동",25,34,56)
fs.add(2,"김길동",35,32,52)
fs.display()

1 홍길동 25 34 56 이 입력되었습니다.
2 김길동 35 32 52 이 입력되었습니다.
총점 [115, 119]

In [153]:
score1.delscore()
score1.display("all")

성적을 초기화 합니다
ID	이름	국어	영어	수학	총점

In [147]:
class Score:
    def __init__(self,stdid,name,kor,eng,math):
        self.stdid=stdid
        self.name=name
        self.kor=kor
        self.eng=eng
        self.math=math
        self.total=0
    def add(self,stdid,name,kor,eng,math):
        self.stdid.append(stdid)
        self.name.append(name)
        self.kor.append(kor)
        self.eng.append(eng)
        self.math.append(math)
        print(stdid,name,kor,eng,math,"이 입력되었습니다.")
        return
    def lenth(self):
        a=len(self.stdid)
        print(a)
    def total(self):       
        total=self.kor+self.eng+self.math
        self.total=total
        return self.total
    def display(self):
        print(self.stdid, self.name,self.kor,self.eng,self.math,self.total)
        return
    pass

In [150]:
score2=Score(1,"홍길동",25,26,47)
score2.display()
score2.total()
score2.display()

1 홍길동 25 26 47 0

TypeError: 'int' object is not callable

## 모듈

In [178]:
import mod1
print(mod1.add(3,4))

7

In [179]:
from mod1 import add
add(3,4)

7

In [216]:
from cal import mycalendar
mycalendar(2026,1)
mycalendar(2026,2)
mycalendar(2026,3)
mycalendar(2026,4)

		 2026 년     1 월

일	월	화	수	목	금	토

				 1	 2	 3

 4	 5	 6	 7	 8	 9	10

11	12	13	14	15	16	17

18	19	20	21	22	23	24

25	26	27	28	29	30	31





		 2026 년     2 월

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28





		 2026 년     3 월

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28

29	30	31



		 2026 년     4 월

일	월	화	수	목	금	토

			 1	 2	 3	 4

 5	 6	 7	 8	 9	10	11

12	13	14	15	16	17	18

19	20	21	22	23	24	25

26	27	28	29	30

In [201]:
mycalendar(2026,2)

		 2026 년     2 월

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28

In [181]:
if __name__ == "__main__":
    print("메인듯")

메인듯

In [213]:
import clcal
cal1=clcal.MyCalendar(2020,1)
cal1.mycalendar()
cal1.setYM(2026,2)
cal1.mycalendar()
cal1.setYM(2020,3)
cal1.mycalendar()

		 2020 년 1 월 달력

일	월	화	수	목	금	토

			 1	 2	 3	 4

 5	 6	 7	 8	 9	10	11

12	13	14	15	16	17	18

19	20	21	22	23	24	25

26	27	28	29	30	31

		 2026 년 2 월 달력

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28



		 2020 년 3 월 달력

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28

29	30	31

In [222]:
import clcal2
cal3=clcal2.MyCalendar(2020,1)
cal3.mycalendar()
cal3.setYM(2026,2)
cal3.mycalendar()
cal3.setYM(2020,3)
cal3.mycalendar()

		 2020 년 1 월 달력

일	월	화	수	목	금	토

			 1	 2	 3	 4

 5	 6	 7	 8	 9	10	11

12	13	14	15	16	17	18

19	20	21	22	23	24	25

26	27	28	29	30	31





		 2026 년 2 월 달력

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28







		 2020 년 3 월 달력

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28

29	30	31

In [223]:
import clcal3
cal3=clcal3.MyCalendar(2020,1)
cal3.mycalendar()
cal3.setYM(2026,2)
cal3.mycalendar()
cal3.setYM(2020,3)
cal3.mycalendar()

		 2020 년 1 월 달력

일	월	화	수	목	금	토

			 1	 2	 3	 4

 5	 6	 7	 8	 9	10	11

12	13	14	15	16	17	18

19	20	21	22	23	24	25

26	27	28	29	30	31



		 2026 년 2 월 달력

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28





		 2020 년 3 월 달력

일	월	화	수	목	금	토

 1	 2	 3	 4	 5	 6	 7

 8	 9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28

29	30	31